<section class="section summary-section">
    <h2 class="section-title" data-testid="title-section"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary" data-testid="summary-section">
        <p data-testid="summary-first-para">Experienced Software Test Automation Engineer with a demonstrated history spanning the fitness, automotive,
            retail, and edu-tech industries. </p>

        <p data-testid="summary-second-para"> in Test Framework Development, Product Management and Team Management.</p>
    </div><!--//summary-->
</section><!--//section-->