<div class="education-container container-block">
    <h2 class="container-block-title" data-test-title="education-section">Education</h2>
    <div class="item" data-testid="graduate-degree-container">
        <h4 class="degree" data-testid="graduate-degree">Master of Science</h4>
        <h5 class="meta" data-testid="graduate-major">Information Engineering</h5>
        <h5 class="meta" data-testid="graduate-university">Fachhochschule Kiel</h5>
        <div class="time" data-testid="graduate-duration">2017 - 2020</div>
    </div><!--//item-->
    <div class="item" data-testid="under-graduate-degree-container">
        <h4 class="degree" data-testid="under-graduate-degree">Bachelor of Engineering</h4>
        <h5 class="meta" data-testid="under-graduate-major">Electronic Engineering</h5>
        <h5 class="meta" data-testid="under-graduate-university">Hamdard University</h5>
        <h5 class="meta" data-testid="under-graduate-duration">2007 - 2012</h5>
    </div><!--//item-->
</div><!--//education-container-->