<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree" data-testid="graduate-degree">Master of Science</h4>
        <h5 class="meta" data-testid="graduate-major">Information Engineering</h5>
        <h5 class="meta" data-testid="graduate-university">Fachhochschule Kiel</h5>
        <div class="time">2017 - 2020</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Bachelor of Engineering</h4>
        <h5 class="meta">Electronic Engineering</h5>
        <h5 class="meta">Hamdard University</h5>
        <h5 class="meta">2007 - 2012</h5>
    </div><!--//item-->
</div><!--//education-container-->