<section class="section experiences-section" data-testid="experience-section">
  <h2 class="section-title" data-testid="experience-section-title">
    <i class="fa fa-briefcase" data-testid="experience-heading"></i>Professional Experience
  </h2>

  <!-- <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student</h3>
                            <div class="time">Present</div>
                        </div>--><!--//upper-row-->
  <!-- <div class="company">Hack Reactor, NYC</div>
                    </div>--><!--//meta-->
  <!-- <div class="details">
                        <p></p>
                        <p></p>
                    </div>--><!--//details-->
  <!-- </div>-->

  <!--//item-->
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title" data-testid="job-1-title">Software Test Automation Engineer</h3>
        <div class="time" data-testid="time-duration-job-1">Aug 2021 - Present</div>
      </div>
      <!--//upper-row-->
      <div class="company">
        <a rel="noopener noreferrer" href="https://www.dataport.de/" target="_blank" data-testid="job-1-company">Dataport AöR</a>
      </div>
    </div>
    <!--//meta-->
    <div class="details" data-testid="details-job-1">
      <p>
        The Dataport Education Cloud (dBildungscloud), including its
        state-specific variants, the Lower Saxony Education Cloud, the
        Brandenburg School Cloud, and the Thuringia School Cloud, is an
        integrated education infrastructure that is being developed as an open
        source-based cloud solution in various strands. It is a forward-looking
        learning environment for students and a versatile working tool for
        teachers.
      </p>
      <ul>
        <li data-testid="job-1-task-1">
          Involved in developing Test automation Framework for the application
          using Cypress.io
        </li>
        <li data-testid="job-1-task-2">Maintaining old test automation framework based on webdriver.io</li>
        <li data-testid="job-1-task-3">
          Followed Behavior Driven Development (BDD) and write test cases using
          Cucumber
        </li>
        <li data-testid="job-1-task-4">Responsible for weekly release</li>
        <li data-testid="job-1-task-5">Validating bug fixes based on acceptance criteria</li>
        <li data-testid="job-1-task-6">Exploratory test in all stages of product development</li>
      </ul>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <!--//item-->
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title" data-testid="job-2-title">Test Analyst</h3>
        <div class="time" data-testid="time-duration-job-2">Sep 2020 - Jun 2021</div>
      </div>
      <!--//upper-row-->
      <div class="company">
        <a rel="noopener noreferrer" href="https://www.gk-software.com/de/" target="_blank" data-testid="job-2-company">GK Software SE</a>
      </div>
    </div>
    <!--//meta-->
    <div class="details" data-testid="details-job-2">
      <p>
        GK Software is a recognized global player in retail cloud services.
        There solutions shape the modern shopping experience and set new
        standards by driving growth as well as sustainability for customers.
      </p>
      <ul>
        <li data-testid="job-2-task-1">
          Managing the complete test cycle from requirement to user experience
          and release testing
        </li>
        <li data-testid="job-2-task-2">Managing the test artefacts using Testlink</li>
        <li data-testid="job-2-task-3">Creating and tracking of defects on JIRA</li>
        <li data-testid="job-2-task-4">
          Creating testing framework for API&#180;s using Karate.js and POSTMAN
        </li>
        <li>Supporting testing mobile apps (iOS and Android)</li>
        <li>Validating bug fixes based on acceptance criteria</li>
        <li>Working with off-shore and on-shore team</li>
      </ul>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Defect Manager</h3>
        <div class="time">May 2019 - Jun 2020</div>
      </div>
      <!--//upper-row-->
      <div class="company">
        <a rel="noopener noreferrer" href="https://mbition.io/" target="_blank">Mbition GmbH</a>
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        Mbition is a 100% subsidiary of Mercedes-Benz Group AG - here in Berlin,
        Mbition develop software for digital products in Mercedes-Benz vehicles.
      </p>
      <ul>
        <li>
          Functional testing of company&#180;s product for different countries
        </li>
        <li>Validating bug fixes based on acceptance criteria</li>
        <li>Performing Regression test on mobile apps (iOS and Android)</li>
        <li>Creating and management of tickets on JIRA and HP ALM</li>
      </ul>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">IT Admin</h3>
        <div class="time">Dec 2018 - Apr 2019</div>
      </div>
      <!--//upper-row-->
      <div class="company">
        <a rel="noopener noreferrer" href="https://egym.com/" target="_blank">eGym GmbH</a>
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        EGYM is a leading global provider of intelligent workout solutions for
        fitness and healthcare facilities.
      </p>
      <ul>
        <li>
          Assistance in on-boarding and off-boarding of employees, including
          preparation of training material
        </li>
        <li>Maintaining of IT infrastructure at site</li>
        <li>Maintaining inventory</li>
        <li>Level - I Support</li>
      </ul>
    </div>
    <!--//details-->
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Quality Assurance Analyst</h3>
        <div class="time">Sep 2018 - Nov 2018</div>
      </div>
      <!--//upper-row-->
      <div class="company">
        <a rel="noopener noreferrer" href="https://www.aboutyou.de/" target="_blank">About You GmbH</a>
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        The company operates the German online stores aboutyou.de and edited.de
        as well as the about-you shopping app and is active with parallel
        offerings in 24 other European countries.
      </p>
      <ul>
        <li>Worked on QA on all stages of product development</li>
        <li>Exploratory test in all stages of product development</li>
        <li>Giving feedback about user experience</li>

        <li>Functional testing of company&#180;s product for different countries</li>
      </ul>
    </div>
    <!--//details-->
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Export Manager</h3>
        <div class="time">Jun 2011 - Mar 2017</div>
      </div>
      <!--//upper-row-->
      <div class="company">
        <a rel="noopener noreferrer">S.J. (C&F) International</a>
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        Providing Custom Clearing and Forwarding Services in Karachi since 1975.
      </p>
      <ul>
        <li>
          Managing shipping documentation (Export/Import)
        </li>
        <li>
          Managing Custom clearance procedures
        </li>
        <li>
          Managing logistics related issues
        </li>

      </ul>
    </div>

  </div>
  <!--//item-->
</section>
<!--//section-->