<div class="languages-container container-block">
<h2 class="container-block-title" data-testid="language-section">Languages</h2>
<ul class="list-unstyled interests-list" data-testid="language-list">
<li data-testid="language-list-ur">Urdu <span class="lang-desc" data-testid="language-1">(Native)</span></li>
<li data-testid="language-list-en">English <span class="lang-desc" data-testid="language-2">(Professional)</span></li>
<li data-testid="language-list-de">German <span class="lang-desc" data-testid="language-3">(Intermediate)</span></li>
</ul>
</div><!--//interests-->