<section class="skills-section section">
  <h2 class="section-title" data-testid="skills-section-headline">
    <i class="fa fa-rocket"></i>Skills &amp; Proficiency
  </h2>
  <div class="skillset" data-testid="skills-section-container">
    <div class="item" data-testid="skill-1">
      <h3 class="level-title" data-testid="skill-1-name">JIRA</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%" data-testid="skill-1-percentage"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <div class="item" data-testid="skill-2">
      <h3 class="level-title" data-testid="skill-2-name">Confluence</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%" data-testid="skill-2-percentage"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <div class="item" data-testid="skill-3">
      <h3 class="level-title">Office 365</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="65%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <div class="item">
      <h3 class="level-title">HP ALM</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Webdriver.io</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="75%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Cypress</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="85%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Cucumber</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="87%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Git</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Javascript</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">HP ALM</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Test Link</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="85%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">POSTMAN</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="75%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Github Actions</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Karate.js</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="60%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Node.js & Express</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="75%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">HTML5 &amp; CSS</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">SQL & NoSQL Databases</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="65%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->

    <div class="item">
      <h3 class="level-title">Mac OS</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Windows OS</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
    <!--//item-->
    <div class="item">
      <h3 class="level-title">Linux OS</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="40%"></div>
      </div>
      <!--//level-bar-->
    </div>
    <!--//item-->
  </div>
</section>
<!--//skills-section-->
